*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:100 ;
    font-size: 40px;
}
.caja{
    background-color: rgb(0, 42, 255);
    position: sticky;
    top:0;
}
.texto{
    position: relative;
}